body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
#title{
    font-weight: 700;
    text-align: center;
    background-color: #46b2f5;
    padding: 10px;
    font-size: 25px;

}
.cell{
    background-color:rgb(255, 246, 231);
    padding: 20px;
    text-align: center;
    vertical-align: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
    cursor: pointer;
}

#board{
    display: inline-grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    gap: 2px;
    background: rgb(0, 0, 0);
    border-style: solid;
    border-width: 2px;

}

.winning-cell{
    color: red;
}

.info{
    color: red;
}

#game-container{
    text-align: center;
    margin-top: 5%;
}

button{
    background-color: rgb(255, 246, 231);
    border-width: 2px;
    border-color: black;
    border-style: solid;
    padding: 10px;
    cursor: pointer;
}
button:hover{
    border-color: white;
    background-color: black;
    color: white;
}

.symbol{
    width: 50px;
}

#options{
    background-color: white;
    position: absolute;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    position: absolute; 
    left: 0; 
    right: 0; 
    top: 150px;
    margin: auto;
    width: 400px;
    text-align: center;
    padding: 20px;
}

#options>p{
    margin-top: 0;
    margin-bottom: 20px;
}

#options>input{
    margin: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: black;

}

#options>button{
    margin-top: 10px;
}

sl-radio-group{
    margin-bottom: 20px;
}

#difficulty-dropdown{
    width: 100px;
}